/*  your css code here. If applicable */
.main {
      display: flex;
      flex-direction: row;
      justify-content: center;
	padding:10px;
	background-color:#D3D3D3;
    }
   ul{

	   display:inline;
	display:flex;
	   margin-right:1rem;
	   gap:20px;
	  list-style: none;
   }

  

